<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DBCon</display-name>
  
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeviceServlet</servlet-name>
  	<servlet-class>com.servlet.DeviceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RoutineServlet</servlet-name>
  	<servlet-class>com.servlet.RoutineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>idGetServlet</servlet-name>
  	<servlet-class>com.servlet.idGetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>showRoutineServlet</servlet-name>
  	<servlet-class>com.servlet.showRoutineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addRoutinesServlet</servlet-name>
  	<servlet-class>com.servlet.addRoutinesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>chooseTimeServlet</servlet-name>
  	<servlet-class>com.servlet.chooseTimeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pointServlet</servlet-name>
  	<servlet-class>com.servlet.pointServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addDeviceServlet</servlet-name>
  	<servlet-class>com.servlet.addDeviceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addRecordServlet</servlet-name>
  	<servlet-class>com.servlet.addRecordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeviceServlet</servlet-name>
  	<url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RoutineServlet</servlet-name>
  	<url-pattern>/RoutineServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>idGetServlet</servlet-name>
  	<url-pattern>/idGetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>showRoutineServlet</servlet-name>
  	<url-pattern>/showRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addRoutinesServlet</servlet-name>
  	<url-pattern>/addRoutinesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>chooseTimeServlet</servlet-name>
  	<url-pattern>/chooseTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pointServlet</servlet-name>
  	<url-pattern>/pointServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDeviceServlet</servlet-name>
  	<url-pattern>/addDeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addRecordServlet</servlet-name>
  	<url-pattern>/addRecordServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>